*{
	margin: 0;
	padding: 0;
}
hr{
	width: 100%;
	border-width: 5px;
}
#inline{
	display:inline;
}
#block{
	display:block;
}
.logo{
	height: 400px;
	width: 100%;
	background-image: url("leaves.jpg");
	border-radius: 10px;
	float: none;
}
.logo img{
	padding-top:10px;
	padding-left:38%;
}
.logo p{
	float: none;
	font-size: 24px;
	font-style: georgia;
	text-align: center;
	color:black;
	font-weight: 5px;
}
.link_page{
	width:100%;
	height:50px;
	background-color:#99ff99;
	display: flex; 
	justify-content:space-between;

}
.link_hover{
	flex-basis:33.33%;
	height: 50px;
}
.link_hover a { 
	border-style:solid;
	margin-left: 40px;
	margin-top:10px;
	border-right-style: solid;
	border-right-color: #3366cc;
	border-radius: 5px;
	background-color:#33ffff;
	letter-spacing: 3px;
	box-shadow: 3px 3px 5px black;
	color:black;
	font-size: 22px;
	border-color: solid black;
	text-decoration: none;
	text-align: center;
	display: inline;
}
.link_hover:hover a{
	background-color:#33ff66;
}
.class-nav {
	border-style:solid;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	box-shadow: 7px 7px 7px #99ff99;
	background-color: #ccffcc;
	display:inline block;
	position: relative;
}
.class_links a{
	padding-top: 25px;
	padding-bottom: 14px;
	border-style:solid;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	box-shadow: 7px 7px 7px;
	border-bottom-color: #ccffcc;
	display: block;
	text-decoration: none;
	font-size: 24px;
	text-align: center;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
.dropbtn{
	margin-left: 10px;
	font-size: 20px;
	float: left;
    width: 210px;
    height: 50px;
	border-style: outset;
	background-color: #99ff99;
	border-top-style: none;
	border-left-style: none;
	border-right-color: #66ff66;
	border-bottom-color: #66ff66;
	box-shadow: 5px 5px 5px #cccccc;
	position: relative;	
	cursor:pointer;
}
.dropdown{
	position:relative;
	display:inline-block;
}
.dropdown-content{
	max-height: 5px;
	margin-top: 55px;
	 display: none;
	 position:absolute;
	 width:210px;
	 z-index: 1;
}
.dropdown-content a{
	color:white;
	font-size: 20px;
	text-align:center;
	text-decoration:none;
	padding: 12px 16px;
	display:block;
	border-style:solid;
	border-color: #999999;
	background-color: grey;
}
.dropdown:hover .dropdown-content{
	display: block;
}
.dropdown-content a:hover{
	background-color: #999999;
}

.block-content button{
	float: left;
	background-color: #99ffcc;
	font-size: 20px;
	display:block;
	text-align: center;
	overflow: auto;
}
.block-content a{
	display:flex;
}
.main_page{
	width: 100%;
	height: auto;
	margin-top:5px;
	float:right;
	right: 0;
	margin-right: 25px;
	border-style: outset;
	border-top-style: none;
	border-width: 5px;
	border-color: #99ffcc;
	text-align: center;
}
.main_page img{
	padding-right: 30px;
}
.main_page p{
	margin-left: 10%;
	margin-right:10%;
	width: 80%;
	border-style: solid;
	border-width: 0px;
	text-align: justify;
	text-indent: 30px;
	line-height: 1.5;
}
p{
	font-size: 24px;
	text-align: center;
}
h3{
	text-decoration: underline;
}
.main_page span{
	color:#00cc00;
}
.NCERT_textbooks button{
	background-color: #99ffcc;
	font-size: 20px;
	margin-top:10px;
	display:inline;
	text-align: center;
}
.dropbtn:hover{
	background-color: #66ff66;
}
.footer{
	display: flex;
	color:white;
	text-decoration: none;
	text-align: center;
	width: auto;
	height:auto;
	padding: 3% 3%;
	padding-bottom: 0px;
	border-style: solid;
	background-color: #333333;
	justify-content:space-between;
}
.right_border{
	border-style: solid;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-right-color: white;
	height: 180px;
	flex-basis:33.33%;

}
.fa-instagram {
	padding-top: 30px;
  color: white;
}
.center{
	width: 500px;
	height: 100px;
	padding-top: 10%;
	padding-bottom: 5%;
	margin-left:30%;
	margin-top:15%;
	border-style: solid;
	border-color: green;
	text-align: center;
	text-decoration: none;
}
.chapter-lecture{
	width: 100%;
	height: 700px; 
}
@media only screen and (max-width: 600px){
	*{
		margin: 0;
		padding:0;
	}
	.logo{
	height: 400px;
	width: 500px;
	background-image: url("leaves.jpg");
	border-radius: 10px;
	float: none;
}
	.logo a{
		padding-right: 30px;
		float:none;
	}
	.logo img{
	width: 300px;
	height: 300px;
	padding-left: 95px;
}
.logo p{
	float: none;
	font-size: 24px;
	font-style: georgia;
	text-align: center;
	color:#0099ff;
	font-weight: 5px;
}
.link_page{
	width:500px;
	height:50px;
	background-color:#99ff99;
	display: flex; 
	justify-content:space-between;

}
.link_hover{
	flex-basis:33.33%;
	height: 50px;
}
.link_hover a { 
	border-style:solid;
	margin-right: 10px;
	margin-left:5px; 
	margin-top:10px;
	border-right-style: solid;
	border-right-color: #3366cc;
	border-radius: 5px;
	background-color:#33ffff;
	letter-spacing: 3px;
	box-shadow: 3px 3px 5px black;
	color:black;
	font-size: 22px;
	border-color: white;
	text-decoration: none;
	text-align: center;
	display: inline;
}
.link_hover:hover a{
	background-color:#33ff66;
}
.dropdown{
	position:relative;
	display:flex;
}
.dropbtn{
	margin-left: 10px;
	font-size: 20px;
	float:none;
	margin-left: 72px;
    width: 500px;
    height: 50px;
	border-style: outset;
	background-color: #99ff99;
	border-top-style: none;
	border-left-style: none;
	border-right-color: #66ff66;
	border-bottom-color: #66ff66;
	box-shadow: 5px 5px 5px #cccccc;
	position: relative;	
	cursor:pointer;
	display: inline-block;
}
.main_page{
	width: 490px;
	height: auto;
	margin-top:5px;
	float:none;
	border-style: inset;
	border-top-style: none;
	border-width: 2px;
	border-color: #99ffcc;
	text-align: center;
}
.main_page img{
	padding-right: 25px;
}
.main_page p{
	margin-left: 10%;
	margin-right:10%;
	width: 80%;
	border-style: solid;
	border-width: 0px;
	text-align: justify;
	text-indent: 30px;
	line-height: 1.5;
}
p{
	font-size: 24px;
	text-align: center;
}
.NCERT_textbooks button{
	background-color: #99ffcc;
	font-size: 20px;
	margin-top:10px;
	text-align: center;
}
.NCERT_textbooks .dropbtn{
	margin-left: 120px;
	margin-top:3px;
	font-size: 20px;
	float: left;
    width: 210px;
    height: 50px;
    display: inline-block;
	border-style: outset;
	background-color: #99ff99;
	border-top-style: none;
	border-left-style: none;
	border-right-color: #66ff66;
	border-bottom-color: #66ff66;
	box-shadow: 5px 5px 5px #cccccc;
	position: relative;	
	cursor:pointer;
}
.footer{
	display: flex;
	color:white;
	text-decoration: none;
	text-align: center;
	width: 460px;
	height:auto;
	padding: 3% 3%;
	border-style: solid;
	background-color: #333333;
	justify-content:space-between;
}
.right_border{
	border-style: solid;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-right-color: white;
	flex-basis:33.33%;
	display:inline;
	height: auto;
}
.right_border p{
	font-size: 14px;
}
.fa-instagram {
	padding-top: 30px;
  color:blue; 
}
}
